= form_for [:admin, @room] do |f|
  = f.label :title
  = f.text_field :title, class: 'form-control'
  %br

  %label Select Company
  = f.select :company_id, @companies.collect { |c| [c.title, c.id] }, {}, class: 'form-control'
  %br
  = f.submit
